@include render('dmspbox') {
    .dmspbox{
        // @include float-left;
        width: percentage(270/$max-width);
        position: relative;
        margin-right: 40px;
        @include hover{
            .dmspbox-wrap{
                transform: scaleY(1);
                visibility: visible;
                opacity: 1;
            }
        }
        
        @include e(title){
            @include grid(flex, $flex-wrap: wrap, $justify-content: null, 
              $align-items: center, $gutter: null);
            @include relative($left: 0px, $top: 0px);
            background-color:#d21b1b;
            cursor: pointer; 
            &-icon{
                @include box(50px, 50px);
                @include grid(inline-flex, $flex-wrap: null, $justify-content: center, $align-items: center, $gutter: null);
                i{
                    font-size: 18px;
                    color: #fff;
                }
            }
            &-text{
                @include setFont(18px, #fff, 700, $title-font);
                line-height: 1;
                // @include flex(1);
                text-transform: uppercase;
            }
        }
        .dmspbox-wrap{
            transform: scaleY(0);
            visibility: hidden;
            opacity: 0;
            position: relative;
            top: 0px;
            ul{
                @extend %reset-list;
                @include boxShadow(0 3px 5px 0 rgba(0,0,0,.2));
                @include transform-origin(0 0 0);
                @include transition(all 0.4s ease 0s);
                @include scaleY(0);
                position: absolute;
                visibility: hidden;
                opacity: 0;
                min-width: 230px;
                background-color: #fff;
                min-width: 100%; 
                li{
                    position: relative;
                    a{
                        @include setFont(14px, #333, null, null);
                        @include grid(flex, $flex-wrap: wrap, $justify-content: null, 
                          $align-items: center, $gutter: null);
                        @include transition(padding-left .2s linear);
                        text-decoration: none;
                        padding: 3px 3px 3px 30px;
                        white-space: nowrap;
                        @include on-event(){
                            padding-left: 35px;
                            color: var(--theme-color);
                        }
                        @include p-el(before, $el-width: null, $el-height: null){
                            @include setFont(7px, inherit, 700, $font-awesome);
                            @include absolute($left: 15px);
                              content: "\f009";
                        }
                    }
                    ul {
                        left: 100%;
                        top: 0;
                    }
                    @include hover{
                        &>ul{
                            transform: scaleY(1);
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    @include doubly{
                        border-top: 1px dashed #bebebe;
                    }
                }
            }
            &>ul{
                transform: scaleY(1);
                visibility: visible;
                opacity: 1;
                @include when-inside(".p-index"){
                    display: none;
                }
                @include when-inside(".fixed"){
                    display: block;
                }
            }
        }
    }
}