/node_modules
/public/*
/plugins/*
/assets/*
/tests/*
#!/public/ckeditor
#!/public/ckfinder
!/public/css
#!/public/elfinder
/storage/*.key
/vendor
/storage
/pts
geren.md
vendor1
.env
*.zip
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
