// @font-face {
//     font-family: 'Sansation';
//     font-display: swap;font-style: normal;font-weight: 400;
//     src: url($font-url+'Sansation-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Sansation';
//     font-display: swap;font-style: italic;font-weight: 400;
//     src: url($font-url+'Sansation-Italic.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Sansation';
//     font-display: swap;font-style: normal;font-weight: 700;
//     src: url($font-url+'Sansation-Bold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Sansation';
//     font-display: swap;font-style: italic;font-weight: 700;
//     src: url($font-url+'Sansation-BoldItalic.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'SVN-Poppins';
//     font-display: swap;font-style: normal;font-weight: 300;
//     src: url($font-url+'SVN-Poppins-Light.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'SVN-Poppins';
//     font-display: swap;font-style: normal;font-weight: 400;
//     src: url($font-url+'SVN-Poppins-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'SVN-Poppins';
//     font-display: swap;font-style: normal;font-weight: 700;
//     src: url($font-url+'SVN-Poppins-Bold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'SVN-Poppins';
//     font-display: swap;font-style: normal;font-weight: 600;
//     src: url($font-url+'SVN-Poppins-SemiBold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Futura';
//     font-display: swap;font-style: normal;font-weight: 400;
//     src: url($font-url+'SVN-FuturaRegular.otf') format('opentype');
// }
// @font-face {
//     font-family: 'SFUFutura';font-weight: 400;font-display: swap;
//     src: url($font-url+'SFUFuturaRegular.eot');
//     src: url($font-url+'SFUFuturaRegular.eot') format('embedded-opentype'),
//          url($font-url+'SFUFuturaRegular.woff2') format('woff2'),
//          url($font-url+'SFUFuturaRegular.woff') format('woff'),
//          url($font-url+'SFUFuturaRegular.ttf') format('truetype'),
//          url($font-url+'SFUFuturaRegular.svg#SFUFuturaRegular') format('svg');
// }
// @font-face {
//     font-family: 'SFUFutura';font-weight: 700;font-display: swap;
//     src: url($font-url+'SFUFuturaBold.eot');
//     src: url($font-url+'SFUFuturaBold.eot') format('embedded-opentype'),
//          url($font-url+'SFUFuturaBold.woff2') format('woff2'),
//          url($font-url+'SFUFuturaBold.woff') format('woff'),
//          url($font-url+'SFUFuturaBold.ttf') format('truetype'),
//          url($font-url+'SFUFuturaBold.svg#SFUFuturaBold') format('svg');
// }

